lab12/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="info">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="trow" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tname" />
                        <xs:element name="tprice"/>
                        <xs:element name="tamm"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
    
</xs:schema>